.carrossel{
    width: 100%;
    padding: 5rem;
}

.carrossel__titulo {
    font-size: 30px;
    display: inline-block;
    position: relative;
}  

.carrossel__titulo::before{
    content: '';
    top: 100%;
    left: 0;
    position: absolute;
    width: 50%;
    border-bottom: 3px solid var(--verde);
}

.carrossel__container{
    padding: 4rem;
    text-align: center;
    margin: 0 5rem;
}

.swiper {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img{
    max-width: 240px;
    text-align: center;
    border-radius: 1rem;
}