.descritivo-mnd__titulo-menor {
    color: var(--verde);
    font-size: 20px;
    width: 100%;
    margin-bottom: 1rem;
}

.descritivo{
    display: flex;
    background-color: var(--branco);
    padding: 5rem;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.descritivo-mnd__container{
    max-width: 500px;
}

.descritivo-mnd__titulo {
    color: var(--preto);
    font-size: 40px;
    margin-bottom: 2rem;
}

.descritivo-mnd__paragrafo{
    color: var(--cinza-escuro);
    margin-bottom: 2em;
    font-size: 20px;
}

.descritivo-mnd__imagem {
    max-width: 500px;
    padding: 2rem;
}


@media screen and (max-width: 768px){
    .descritivo{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        padding: 4rem;
        gap: 0;
    }

    .descritivo-mnd__imagem{
        max-width: 400px;
    }

    .descritivo-mnd__container{
        max-width: 50vh;
    }

    .descritivo-mnd__titulo{
        font-size: 28px;
    }

    .descritivo-mnd__paragrafo{
        font-size: 18px;
    }
}

@media screen and (max-width: 430px){
    .descritivo{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 2rem;
    }
    
    .descritivo-mnd__imagem{
        max-width: 420px;
        border-radius: 0;
    }
}