.descritivo-mnd__titulo-menor {
    color: var(--verde);
    font-size: 18px;
    width: 100%;
    margin-bottom: 1rem;
}

.descritivo{
    display: flex;
    background-color: var(--branco);
    padding: 5rem;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.descritivo-mnd__container{
    max-width: 500px;
}

.descritivo-mnd__titulo {
    color: var(--preto);
    font-size: 38px;
    margin-bottom: 1rem;
}

.descritivo-mnd__paragrafo{
    color: var(--cinza-escuro);
    margin-bottom: 2em;
    font-size: 20px;
}

.descritivo-mnd__imagem {
    max-width: 80vh;
    padding: 2rem;
    border-radius: 3rem;
}


@media screen and (max-width: 1024px){
    .descritivo{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .descritivo-mnd__imagem{
        max-width: 440px;
        border-radius: 0;
    }
}